:root {
  --adaptiveBackground: hsla(0, 0%, 100%, 1.0);
  --adaptiveOpacity50: hsla(210, 100%, 10%, 0.02);
  --adaptiveOpacity100: hsla(210, 95%, 14%, 0.05);
  --adaptiveOpacity200: hsla(210, 100%, 11%, 0.1);
  --adaptiveOpacity300: hsla(210, 100%, 11%, 0.2);
  --adaptiveOpacity400: hsla(215, 100%, 11%, 0.3);
  --adaptiveOpacity500: hsla(215, 89%, 10%, 0.45);
  --adaptiveOpacity600: hsla(215, 100%, 8%, 0.6);
  --adaptiveOpacity700: hsla(215, 86%, 8%, 0.7);
  --adaptiveOpacity800: hsla(215, 100%, 6%, 0.8);
  --adaptiveOpacity900: hsla(215, 81%, 4%, 0.9);
  --adaptiveGrayOpacity50: hsla(210, 100%, 10%, 0.02);
  --adaptiveGrayOpacity100: hsla(210, 95%, 14%, 0.05);
  --adaptiveGrayOpacity200: hsla(210, 100%, 11%, 0.1);
  --adaptiveGrayOpacity300: hsla(210, 100%, 11%, 0.2);
  --adaptiveGrayOpacity400: hsla(215, 100%, 11%, 0.3);
  --adaptiveGrayOpacity500: hsla(215, 89%, 10%, 0.45);
  --adaptiveGrayOpacity600: hsla(215, 100%, 8%, 0.6);
  --adaptiveGrayOpacity700: hsla(215, 86%, 8%, 0.7);
  --adaptiveGrayOpacity800: hsla(215, 100%, 6%, 0.8);
  --adaptiveGrayOpacity900: hsla(215, 81%, 4%, 0.9);
  --adaptiveGray50: hsla(210, 20%, 98%, 1.0);
  --adaptiveGray100: hsla(200, 14%, 96%, 1.0);
  --adaptiveGray200: hsla(210, 12%, 90%, 1.0);
  --adaptiveGray300: hsla(210, 10%, 85%, 1.0);
  --adaptiveGray400: hsla(215, 12%, 75%, 1.0);
  --adaptiveGray500: hsla(215, 8%, 58%, 1.0);
  --adaptiveGray600: hsla(215, 9%, 45%, 1.0);
  --adaptiveGray700: hsla(215, 14%, 36%, 1.0);
  --adaptiveGray800: hsla(215, 17%, 25%, 1.0);
  --adaptiveGray900: hsla(215, 23%, 13%, 1.0);
  --adaptiveRed50: hsla(0, 96%, 97%, 1);
  --adaptiveRed100: hsla(0, 96%, 93%, 1);
  --adaptiveRed200: hsla(0, 96%, 86 %, 1);
  --adaptiveRed300: hsla(0, 92%, 78%, 1);
  --adaptiveRed400: hsla(0, 80%, 86%, 1);
  --adaptiveRed500: hsla(0, 84%, 60%, 1);
  --adaptiveRed600: hsla(0, 72%, 53%, 1);
  --adaptiveRed700: hsla(0, 74%, 47%, 1);
  --adaptiveRed800: hsla(0, 70%, 42%, 1);
  --adaptiveRed900: hsla(0, 63%, 37%, 1);
  --adaptiveGreen50: hsla(138, 52%, 96%, 1);
  --adaptiveGreen100: hsla(141, 52%, 88%, 1);
  --adaptiveGreen200: hsla(141, 52%, 74%, 1);
  --adaptiveGreen300: hsla(141, 52%, 62%, 1);
  --adaptiveGreen400: hsla(141, 52%, 52%, 1);
  --adaptiveGreen500: hsla(141, 72%, 40%, 1);
  --adaptiveGreen600: hsla(141, 72%, 34%, 1);
  --adaptiveGreen700: hsla(141, 72%, 30%, 1);
  --adaptiveGreen800: hsla(141, 72%, 27%, 1);
  --adaptiveGreen900: hsla(144, 72%, 25%, 1);
  --adaptiveBlue50: hsla(214, 100%, 95%, 1);
  --adaptiveBlue100: hsla(214, 95%, 90%, 1);
  --adaptiveBlue200: hsla(214, 95%, 82%, 1);
  --adaptiveBlue300: hsla(214, 95%, 70%, 1);
  --adaptiveBlue400: hsla(214, 95%, 65%, 1);
  --adaptiveBlue500: hsla(214, 92%, 58%, 1);
  --adaptiveBlue600: hsla(218, 82%, 53%, 1);
  --adaptiveBlue700: hsla(218, 80%, 48%, 1);
  --adaptiveBlue800: hsla(218, 80%, 42%, 1);
  --adaptiveBlue900: hsla(218, 80%, 35%, 1);
}

.dark {
  --adaptiveBackground: hsla(235, 9%, 10%, 1);
  --adaptiveOpacity50: hsla(235, 91%, 90%, 0.05);
  --adaptiveOpacity100: hsla(235, 100%, 92%, 0.1);
  --adaptiveOpacity200: hsla(235, 100%, 93%, 0.2);
  --adaptiveOpacity300: hsla(235, 100%, 93%, 0.25);
  --adaptiveOpacity400: hsla(235, 83%, 95%, 0.35);
  --adaptiveOpacity500: hsla(235, 100%, 97%, 0.45);
  --adaptiveOpacity600: hsla(235, 100%, 98%, 0.6);
  --adaptiveOpacity700: hsla(235, 100%, 99%, 0.75);
  --adaptiveOpacity800: hsla(235, 33%, 99%, 0.9);
  --adaptiveOpacity900: hsla(0, 0%, 100%, 1);
  --adaptiveGrayOpacity50: hsla(235, 91%, 90%, 0.05);
  --adaptiveGrayOpacity100: hsla(235, 100%, 92%, 0.1);
  --adaptiveGrayOpacity200: hsla(235, 100%, 93%, 0.2);
  --adaptiveGrayOpacity300: hsla(235, 100%, 93%, 0.25);
  --adaptiveGrayOpacity400: hsla(235, 83%, 95%, 0.35);
  --adaptiveGrayOpacity500: hsla(235, 100%, 97%, 0.45);
  --adaptiveGrayOpacity600: hsla(235, 100%, 98%, 0.6);
  --adaptiveGrayOpacity700: hsla(235, 100%, 99%, 0.75);
  --adaptiveGrayOpacity800: hsla(235, 33%, 99%, 0.9);
  --adaptiveGrayOpacity900: hsla(0,0%,100%,1); 
  --adaptiveGray50: hsla(235, 10%, 14%, 1);
  --adaptiveGray100: hsla(235, 9%, 19%, 1);
  --adaptiveGray200: hsla(235, 8%, 26%, 1);
  --adaptiveGray300: hsla(235, 6%, 33%, 1);
  --adaptiveGray400: hsla(235, 4%, 41%, 1);
  --adaptiveGray500: hsla(235, 4%, 51%, 1);
  --adaptiveGray600: hsla(235, 4%, 63%, 1);
  --adaptiveGray700: hsla(235, 4%, 77%, 1);
  --adaptiveGray800: hsla(235, 6%, 93%, 1);
  --adaptiveGray900: hsla(235, 20%, 98%, 1);
  --adaptiveRed50: hsla(0, 50%, 18%, 1);
  --adaptiveRed100: hsla(0, 53%, 23%, 1); 
  --adaptiveRed200: hsla(0, 63%, 31%, 1);
  --adaptiveRed300: hsla(0, 64%, 39%, 1);
  --adaptiveRed400: hsla(0, 67%, 49%, 1);
  --adaptiveRed500: hsla(0, 80%, 60%, 1);
  --adaptiveRed600: hsla(0, 92%, 68%, 1);
  --adaptiveRed700: hsla(0, 96%, 75%, 1);  
  --adaptiveRed800: hsla(0, 96%, 88%, 1);
  --adaptiveRed900: hsla(0, 96%, 94%, 1);
  --adaptiveGreen50: hsla(144, 72%, 15%, 1);
  --adaptiveGreen100: hsla(141, 72%, 20%, 1);
  --adaptiveGreen200: hsla(141, 72%, 25%, 1);
  --adaptiveGreen300: hsla(141, 72%, 30%, 1);
  --adaptiveGreen400: hsla(141, 72%, 35%, 1);
  --adaptiveGreen500: hsla(141, 52%, 41%, 1);
  --adaptiveGreen600: hsla(141, 52%, 48%, 1);
  --adaptiveGreen700: hsla(141, 52%, 60%, 1);
  --adaptiveGreen800: hsla(141, 52%, 74%, 1);
  --adaptiveGreen900: hsla(138, 52%, 90%, 1);
  --adaptiveBlue50: hsla(224, 50%, 21%, 1);
  --adaptiveBlue100: hsla(224, 54%, 28%, 1);
  --adaptiveBlue200: hsla(224, 60%, 35%, 1);
  --adaptiveBlue300: hsla(224, 62%, 43%, 1);
  --adaptiveBlue400: hsla(221, 62%, 53%, 1);
  --adaptiveBlue500: hsla(217, 82%, 60%, 1);
  --adaptiveBlue600: hsla(217, 86%, 64%, 1);
  --adaptiveBlue700: hsla(213, 90%, 68%, 1);
  --adaptiveBlue800: hsla(213, 92%, 78%, 1);
  --adaptiveBlue900: hsla(213, 97%, 87%, 1);
} 